@keyframes chuva {
	from { background-position:  0 0,0; }
	to { background-position: -10% 100%, 0; }
}
@keyframes raios {
    0% {background: transparent;}
    20% {background: transparent;}
    35% {background: transparent;}
    40% {background: white;}
    43% {background: transparent;}
    60% {background: transparent;}
    75% {background: transparent;}
    80% {background: white;}
    83% {background: transparent;}
    100% {background: transparent;}
}

@keyframes ondas{
    from { 
        -webkit-transform: rotate(0deg) translateX(25px) rotate(0deg);
         -moz-transform: rotate(0deg) translateX(25px) rotate(0deg);
         transform: rotate(0deg) translateX(25px) rotate(0deg);
    }
    to   { 
        -webkit-transform: rotate(360deg) translateX(25px) rotate(-360deg); 
        -moz-transform: rotate(360deg) translateX(25px) rotate(-360deg); 
        transform: rotate(360deg) translateX(25px) rotate(-360deg); 
    }
}

@keyframes farol{
    0% {
       -webkit-transform: rotate(-20deg) translate(-150px, 0px) rotate(0deg);
        -moz-transform: rotate(-20deg) translate(-150px, 0px) rotate(0deg);
        transform: rotate(-20deg) translate(-150px, 0px) rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(20deg) translate(150px, 0px) rotate(0deg);
        -moz-transform: rotate(20deg) translate(150px, 0px) rotate(0deg);
        transform: rotate(20deg) translate(150px, 0px) rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(-20deg) translate(-150px, 0px) rotate(0deg);
        -moz-transform: rotate(-20deg) translate(-150px, 0px) rotate(0deg);
        transform: rotate(-20deg) translate(-150px, 0px) rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(20deg) translate(150px, 0px) rotate(0deg);
        -moz-transform: rotate(20deg) translate(150px, 0px) rotate(0deg);
        transform: rotate(20deg) translate(150px, 0px) rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-20deg) translate(-150px, 0px) rotate(0deg);
        -moz-transform: rotate(-20deg) translate(-150px, 0px) rotate(0deg);
        transform: rotate(-20deg) translate(-150px, 0px) rotate(0deg);
    }
}
#the_boat{
    background-image:url('../img/rain.png'), url('../img/background-boat.jpg');
    background-repeat: repeat;
    background-size:auto, 100%;
    overflow:hidden;
    height:100vh;
    position:relative;
    width:100%;
    padding-top:0px !important;
    padding-bottom:0px !important;
    animation: chuva 1s linear infinite;
}
#the_boat #raio{
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    animation: raios 5s linear infinite;
}

#the_boat .fa{
    color:white;
}

#the_boat .onda{
    position: absolute;
    width: 200%;
    background-repeat: repeat-x;
    background-repeat-y: no-repeat;
    height: 50vh;
}

#the_boat .pintada{background: url(../img/wave-paint.png);background-size:15%;}

#the_boat .normal{background: url(../img/wave-plain.png);background-size:15%;}

#onda-6 {bottom: -35vh;left: -50%;animation: ondas 5s linear infinite;}
#onda-5 {bottom: -30vh;left: -40%;animation: ondas 4s linear infinite;}
#onda-4 {bottom: -25vh;left: -30%;animation: ondas 6.5s linear infinite;}
#onda-3 {bottom: -20vh;left: -50%;animation: ondas 3.5s linear infinite;}
#onda-2 {bottom: -15vh;left: -40%;animation: ondas 7s linear infinite;}
#onda-1 {bottom: -10vh;left: -30%;animation: ondas 8s linear infinite;}

#farol{
    width:20%;
    height:70vh;
    position:absolute;
    transition:0.2s all;
    bottom:5vh;
    right:10%;
    background: url(../img/lighthouse.png) no-repeat;
    background-size:100%;
    animation: farol 15s linear infinite;
}

/*.cloud{
    width: 200%;
    overflow: hidden;
    background: url(../img/cloud1.png), url(../img/cloud2.png), url(../img/cloud3.png);
    background-position: 111px 45%, 28% -61%, 1% -125%;
    padding: 0px !important;
    background-size: 10%;
    background-repeat: repeat-x;
    height: 200px;
    animation: animatedImg 80s linear infinite;
}*/


@media only screen and (min-device-width: 0px) and (max-device-width: 599px) {
    #the_boat{height:800px;background-size:auto, 200%;}
    #the_boat .onda{
        height: 250px;
    }
    
    #the_boat .pintada{background-size:30%;}
    
    #the_boat .normal{background-size:30%;}
    
    #onda-6 {bottom: -40px;left: -50%;animation: ondas 5s linear infinite;}
    #onda-5 {bottom: -35px;left: -40%;animation: ondas 4s linear infinite;}
    #onda-4 {bottom: -30px;left: -30%;animation: ondas 6.5s linear infinite;}
    #onda-3 {bottom: -25px;left: -50%;animation: ondas 3.5s linear infinite;}
    #onda-2 {bottom: -20px;left: -40%;animation: ondas 7s linear infinite;}
    #onda-1 {bottom: -15px;left: -30%;animation: ondas 8s linear infinite;}
    
    #farol{
        width:30%;
        height:600px;
        bottom:-30px;
    }
    
}
@media only screen and (min-device-width: 600px) and (max-device-width: 767px) {
    #the_boat{background-size:auto, 200%;}
    
    #the_boat .onda{height:400px;}
    
    #the_boat .pintada{background-size:50%;}
    
    #the_boat .normal{background-size:50%;}
    
    #onda-6 {bottom: -60px;left: -50%;animation: ondas 5s linear infinite;}
    #onda-5 {bottom: -50px;left: -40%;animation: ondas 4s linear infinite;}
    #onda-4 {bottom: -40px;left: -30%;animation: ondas 6.5s linear infinite;}
    #onda-3 {bottom: -30px;left: -50%;animation: ondas 3.5s linear infinite;}
    #onda-2 {bottom: -20px;left: -40%;animation: ondas 7s linear infinite;}
    #onda-1 {bottom: -10px;left: -30%;animation: ondas 8s linear infinite;}
    
    #farol{
        width:55%;
        height:900px;
        bottom:20px;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    #the_boat{background-size:auto, 200%;}
    
    #the_boat .onda{height:400px;}
    
    #the_boat .pintada{background-size:50%;}
    
    #the_boat .normal{background-size:50%;}
    
    #onda-6 {bottom: -60px;left: -50%;animation: ondas 5s linear infinite;}
    #onda-5 {bottom: -50px;left: -40%;animation: ondas 4s linear infinite;}
    #onda-4 {bottom: -40px;left: -30%;animation: ondas 6.5s linear infinite;}
    #onda-3 {bottom: -30px;left: -50%;animation: ondas 3.5s linear infinite;}
    #onda-2 {bottom: -20px;left: -40%;animation: ondas 7s linear infinite;}
    #onda-1 {bottom: -10px;left: -30%;animation: ondas 8s linear infinite;}
    
    #farol{
        width:55%;
        height:900px;
        bottom:20px;
    }
}